body, ul, li, a, p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    margin-top: 6rem;
    text-align: center;
    color: darkcyan;
    font-family: sans-serif;
}

footer {
    background-color: cadetblue;
}

.footer-menu {
    max-width: 900px;
    margin: 0 auto;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.footer-menu li a {
    font-size: 20px;
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
}